a {
    color: #03001C;
}
a:hover {
    color: #a23a00;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    font-family: roboto, Arial, Helvetica, sans-serif;
    background-color: #ffb6c1;
}

button {
    height: 80px;
    width: 80px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    border: solid 4px #5B8FB9;
    background-color: #ffd0b6;
}

button:hover {
    background-color: #ffaf83;
}

button:active {
    transform: scale(0.98);
}

h1 {
    text-shadow: 3px 3px 5px #fff1e9;
}

#AC, #C {
    background-color: #a23a00;
    color: #fff1e9;
}

#AC:hover, #C:hover {
    background-color: #D54C00;
}

.container {
    display: flex;
    width: 600px;
    height: 750px;
    align-items: center;
    justify-content: center;
    background-color: #b6e5ff;
    flex-direction: column;
    border: solid 4px #03001C;

}

.display {
    display: flex;
    flex: 1 1 20%;
    flex-wrap: wrap;
    width: 85%;
    align-items: center;
    justify-content: center;
    background-color: #fff1e9;
    padding: 8px;
    margin: 20px 10px;
    font-size: 40px;
    border: solid 4px #03001C;
}

.display .top {
    display: flex;
    height: 50%;
    width: 100%;
    font-size: 25px;
    justify-content: flex-end;
    align-items: center;
}

.display .bottom {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.button-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    width: 85%;
    height: 85%;
}
