body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

button {
    height: 80px;
    width: 80px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.container {
    display: flex;
    width: 600px;
    height: 750px;
    align-items: center;
    justify-content: center;
    background-color: #757575;
    flex-direction: column;
}

.display {
    display: flex;
    flex: 1 1 20%;
    flex-wrap: wrap;
    width: 85%;
    align-items: center;
    justify-content: center;
    background-color: #BDBDBD;
    padding: 8px;
    margin: 20px 10px;
    font-size: 40px;
}

.display .top {
    display: flex;
    height: 50%;
    width: 100%;
    font-size: 25px;
    justify-content: flex-end;
    align-items: center;
}

.display .bottom {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.button-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    width: 85%;
    height: 85%;
}
